//
// Base
// --------------------------------------------------

html,
body {
    height: 100%;
}

body {
    background-color: $background-color-base;
    color: $color-base;
    font-family: $font-family-base;
    font-size: 1rem;
    line-height: $line-height-base;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

// Scaffholding
// --------------------------------------------------

// wrapper
.wrapper {
    min-height: 100vh;
    padding-bottom: 4.125rem;
    transform: translate(0);
    transition: $transition-base;

    &.covered {
        opacity: 0.25;
    }

    @media screen and (min-width: $medium) {
        padding-bottom: 23rem;
    }

    @media screen and (min-width: $intermediate) {
        padding-bottom: 355.75px;
    }
}

// containers
.container {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1.875rem;
    width: 100%;

    @media screen and (min-width: $medium) {
        max-width: 768px;
    }

    @media screen and (min-width: $large) {
        max-width: 960px;
    }
    
    @media screen and (min-width: $x-large) {
        max-width: 1170px;
    }
}

.container-main {
    align-items: stretch;
    padding-bottom: 0.9rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.875rem;

    @media screen and (min-width: $small) {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        padding-top: 1.875rem;
    }

    @media screen and (min-width: $large) {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

}

// main
.main {
    flex: 0 1 auto;
    width: 100%;

    @media screen and (min-width: $large) {
        margin-right: 0.9375rem;
        order: 1;
        width: 67%;
    }

    @media screen and (min-width: $x-large) {
        margin-right: 1.875rem;
        width: 70%;
    }
}

.sidebar {
    display: none;
    flex: 0 1 auto;
    margin-left: 0.9375rem;
    order: 2;
    width: 33%;

    @media screen and (min-width: $large) {
        display: block;
    }

    @media screen and (min-width: $x-large) {
        margin-left: 1.875rem;
        width: 30%;
    }
}

// full
.page-full {
    flex: 0 1 auto;
    width: 100%;
}


// elements
// -----------------------------------

// table
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.375rem;
    background-color: transparent;
}

.table thead th {
    border-bottom: solid 2px $color-border;
    font-weight: 700;
    vertical-align: bottom;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: solid 1px $color-border;
}

// img
img {
    vertical-align: top;
}

.img-fluid {
    border-radius: 0;
    height: auto;
    max-width: 100%;

    @media screen and (min-width: $small) {
        border-radius: $border-radius;
    }
}

.wp-block-image {
    display: block;

    .alignleft,
    .alignright,
    .aligncenter {
        float: none;
        text-align: center;
        margin: 1rem;
    }

    img {
        @extend .img-fluid;
    }


    @media screen and (min-width: $small) {
        display: inline;

        .alignleft {
            float: left;
            margin-right: 2rem;
        }

        .alignright {
            float: right;
            margin-left: 2rem;
        }
    }
} 

// utilities
// -----------------------------------
.d-none {
    display: none !important;
}

.rounded {
    border-radius: $border-radius;
}

.text-muted {
    color: $color-muted;
    font-size: $font-size-sm;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}