//
// Base
// --------------------------------------------------

html,
body {
    height: 100%;
}

body {
    background-color: $background-color-base;
    color: $color-base;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

// Scaffholding
// --------------------------------------------------

// wrapper
.wrapper {
    background-color: $white;
    opacity: 1;
    transition: opacity 0.25s linear;

    &.covered {
        opacity: 0.25;
    }

    // @media screen and (min-width: $x-large) {
    //     max-width: 1280px;
    //     margin: 0 auto;
    // }
}

// containers
.container {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1.875rem;
    width: 100%;

    @media screen and (min-width: $medium) {
        max-width: 768px;
    }

    @media screen and (min-width: $large) {
        max-width: 960px;
    }
    
    @media screen and (min-width: $x-large) {
        max-width: 1170px;
    }
}

.container-main {
    align-items: stretch;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.875rem;

    @media screen and (min-width: $small) {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

    @media screen and (min-width: $large) {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}

.container-full {
    max-width: 100%;
    padding: 0;

    @media screen and (min-width: $medium) {
        max-width: 100%;
        padding: 0;
    }

    @media screen and (min-width: $large) {
        max-width: 100%;
        padding: 0;
    }

    @media screen and (min-width: $x-large) {
        max-width: 100%;
        padding: 0;
    }
}

// main
.main {
    flex: 0 1 auto;
    width: 100%;

    @media screen and (min-width: $large) {
        margin-right: 0.9375rem;
        order: 1;
        width: 67%;
    }

    @media screen and (min-width: $x-large) {
        margin-right: 1.875rem;
        width: 70%;
    }
}

.sidebar {
    display: none;
    flex: 0 1 auto;
    margin-left: 0.9375rem;
    order: 2;
    width: 33%;

    @media screen and (min-width: $large) {
        display: block;
    }

    @media screen and (min-width: $x-large) {
        margin-left: 1.875rem;
        width: 30%;
    }
}

// full
.page-full {
    flex: 0 1 auto;
    width: 100%;
}


// elements
// -----------------------------------

// table
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.375rem;
    background-color: transparent;
}

.table thead th {
    border-bottom: solid 2px $color-border;
    font-weight: 700;
    vertical-align: bottom;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: solid 1px $color-border;
}

// img
img {
    vertical-align: top;
}

.img-fluid {
    border-radius: $border-radius;
    height: auto;
    max-width: 100%;

    &.wp-post-image {
        border-radius: 0;
    }

    @media screen and (min-width: $small) {
        &.wp-post-image {
            border-radius: $border-radius;
        }
    }
}


// utilities
// -----------------------------------
.d-none {
    display: none !important;
}

.rounded {
    border-radius: $border-radius;
}

.text-muted {
    color: $color-muted;
    font-size: $font-size-sm;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.flex-end {
    justify-content: flex-end;
}