//
// Icons Feather v4.10.0
// --------------------------------------------------

.feather {
    display: inline-block;
    vertical-align: text-bottom;   
}

.icon-check-circle {
    fill: $color-success;
}


// Réseaux sociaux
// -----------------------------------
