//
// Typography
// --------------------------------------------------

html {
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

// Headings
// -----------------------------------
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
    color: $color-headings;
    font-family: $font-family-headings;
    font-weight: 400;
    line-height: $line-height-headings;
    margin: 1rem 0 0.5rem;
}

h1,
.h1,
h1.entry-title {
    font-size: $font-size-h1;
    font-weight: 300;
    margin: 0.5rem 0 1.25rem;
}

h2, .h2, h2.entry-title {
    font-size: $font-size-h2;

    a {
        color: $color-headings;
        transition: $transition-base;
    }

    a:hover {
        color: $color-headings;
    }
}

h3, .h3 {
    font-size: $font-size-h3;
}

h4, .h4 {
    font-size: $font-size-h4;
}

h5, .h5 {
    font-size: $font-size-h5;
}

h6, .h6 {
    font-size: $font-size-h6;
}

// Syles
// -----------------------------------
b, strong {
    font-weight: 700;
}

// Listes
// -----------------------------------
.main ol,
.main ul,
.main dl {
    margin-bottom: 1.375rem;
    margin-top: 1rem;
    padding-left: 1.25rem;
    
    p + & {
        margin-top: -1rem;
    }

    li + li {
        margin-top: 0.5rem;
    }
}

.main ul {
    list-style-type: disc;
}

.main ol {
    list-style-type: decimal;
}

// list check
.checklist li {
    list-style-type: none;
    padding-left: 0.25rem;
    position: relative;

    &:before {
        background-image: icon('check-square.svg');
        background-repeat: no-repeat;
        background-size: 1rem;
        content: '';
        display: inline-block;
        height: 1rem;
        left: -1.25rem;
        position: absolute;
        top: 0.2rem;
        width: 1rem;
    }
}

// Links
// -----------------------------------
a {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
    transition: $transition-base;

    &:hover {
        color: $link-color-hover;
        text-decoration: underline;
    }
}

// Paragragph;
// -----------------------------------
p {
    margin: 0 0 1.375rem;
}

// Font style
// -----------------------------------
i,
em {
    font-style: italic;
}

