//
// Typography
// --------------------------------------------------

html {
    text-rendering: optimizeLegibility !important
}

// Headings
// -----------------------------------

h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
    color: $color-headings;
    font-family: $font-family-base;
    line-height: $line-height-headings;
    margin: 1rem 0;
}

h1, .h1, h1.entry-title {
    font-family: $font-family-headings;
    color: $gray-900;
    font-size: calc(#{$font-size-h1} * 0.85);
    font-weight: 900;
    margin: 0.5rem 0 1.25rem;
    line-height: $line-height-headings;

    @media screen and (min-width: $small) {
        font-size: $font-size-h1;
    }
}

h2, .h2, h2.entry-title {
    color: $gray-900;
    font-size: calc(#{$font-size-h2} * 0.85);
    font-weight: 700;
    margin: 2.75rem 0 1rem;

    &:after {
        border: solid 1.5px $color-primary;
        content: '';
        display: block;
        margin-top: 0.5rem;
        width: 100px;
    }

    &.center:after {
        margin: 0.5rem auto 0;
    }

    a {
        color: $color-headings;
        transition: $transition-base;
    }

    a:hover {
        color: $color-headings;
    }

    @media screen and (min-width: $small) {
        font-size: $font-size-h2;
    }
}

h3, .h3 {
    font-size: calc(#{$font-size-h3} * 0.85);
    font-weight: 700;
    color: $gray-800;

    @media screen and (min-width: $small) {
        font-size: $font-size-h3;
    }
}

h4, .h4 {
    font-size: calc(#{$font-size-h4} * 0.85);
    font-weight: 400;

    @media screen and (min-width: $small) {
        font-size: $font-size-h4;
    }
}

h5, .h5 {
    font-size: $font-size-h5;
    font-weight: 400;
}

h6, .h6 {
    font-size: $font-size-h6;
    font-weight: 400;
}

// Styles
// -----------------------------------
b, strong {
    font-weight: 600;
}

small {
    font-size: $font-size-sm;
}

// Listes
// -----------------------------------
.main ol,
.main ul,
.main dl {
    margin-bottom: 1.375rem;
    margin-top: 1rem;
    padding-left: 1.25rem;
    
    p + & {
        margin-top: -1rem;
    }

    li + li {
        margin-top: 0.5rem;
    }
}

.main ul {
    list-style-type: disc;
}

.main ol {
    list-style-type: decimal;
}

// list check
.checklist li {
    list-style-type: none;
    padding-left: 0.25rem;
    position: relative;

    &:before {
        background-image: icon('check-square.svg');
        background-repeat: no-repeat;
        background-size: 1rem;
        content: '';
        display: inline-block;
        height: 1rem;
        left: -1.25rem;
        position: absolute;
        top: 0.2rem;
        width: 1rem;
    }
}

// Links
// -----------------------------------
a {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
    transition: $transition-base;

    &:hover {
        color: $link-color-hover;
        text-decoration: underline;
    }
}

// Paragragph;
// -----------------------------------
p {
    margin: 0 0 1.375rem;
}

// Font style
// -----------------------------------
i,
em {
    font-style: italic;
}

