//
// Mixins
// --------------------------------------------------

// fluid font-size
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size;

            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}


// ellipsis
@mixin ellipsis( $width: 100%, $display: inline-block) {
    display: $display;
    max-width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

// Position absolute
@mixin abs-pos($bottom: 0, $left: 0, $right: 0, $top: 0, $z-index: '') {
    bottom: $bottom;
    left: $left;
    position: absolute;
    right: $right;
    top: $top;
    @if $z-index !='' {
        z-index: $z-index;
    }
}

// Cut angle
@mixin angle-cut($color) {
    &:after {
        border-color: $color transparent transparent transparent;
        border-style: solid;
        border-width: 1rem 1.5rem 0 0;
        content: '';
        display: block;
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
    }
}

// Buttons
@mixin bouton($color) {
    background-color: $color;
    border-color: $color;
    color: dynamic-color($color);
    transition: $transition-base;

    &:hover {
        background-color: shade($color, 15%);
        border-color: shade($color, 15%);
        color: dynamic-color($color);
    }
}

// Alerts
@mixin alert($color) {
    background-color: tint($color, 85);
    color: shade($color, 80);

    .alert-icon {
        color: shade($color, 10);
    }
}

// Socials sidebar
@mixin social($color, $bgcolor) {
    background-color: $color;
    transition: $transition-base;

    &:hover {
        background-color: $bgcolor;

        > .icon {
            color: $color;
        }
    }
}

// Bloc diagonale
@mixin diagonalBefore($direction:left, $color:white) {
    position: relative;

    &:before {
        background-color: $color;
        content: '';
        height: 5rem;
        position: absolute;
        top: -5rem;
        z-index: 10;
    }

    @if $direction==right {
        &:before {
            left: 0;
            right: -0.05rem;
            transform: rotate(3deg) skewX(3deg);
            transform-origin: left bottom;

            @media screen and (min-width: $large) {
                right: -0.1rem;
            }
        }
    }

    @else {
        &:before {
            left: -0.05rem;
            right: 0;
            transform: rotate(-3deg) skewX(-3deg);
            transform-origin: right bottom;

            @media screen and (min-width: $large) {
                left: -0.1rem;
            }
        }
    }
}

@mixin diagonalAfter($direction:left, $color:white) {
    position: relative;

    &:after {
        background-color: $color;
        bottom: -1rem;
        content: '';
        height: 5rem;
        position: absolute;
        z-index: 10;
    }

    @if $direction==right {
        &:after {
            left: 0;
            right: -0.05rem;
            transform: rotate(3deg) skewX(3deg);
            transform-origin: left bottom;

            @media screen and (min-width: $large) {
                right: -0.1rem;
            }
        }
    }

    @else {
        &:after {
            left: -0.05rem;
            right: 0;
            transform: rotate(-3deg) skewX(-3deg);
            transform-origin: right bottom;

            @media screen and (min-width: $large) {
                left: -0.1rem;
            }
        }
    }
}