//
// Mixins
// --------------------------------------------------

// ellipsis
@mixin ellipsis( $width: 100%, $display: inline-block) {
    display: $display;
    max-width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

// triangles (eg. tooltip)
@mixin triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
    @include pseudo($pos: $position);
    width: 0;
    height: 0;
    @if $round {
        border-radius: 3px;
    }
    @if $direction==down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        margin-top: 0 - round( $size / 2.5);
    }
    @else if $direction==up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        margin-bottom: 0 - round( $size / 2.5);
    }
    @else if $direction==right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        margin-right: -$size;
    }
    @else if $direction==left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        margin-left: -$size;
    }
}

// Position absolute
@mixin abs-pos($bottom: 0, $left: 0, $right: 0, $top: 0, $z-index: '') {
    bottom: $bottom;
    left: $left;
    position: absolute;
    right: $right;
    top: $top;
    @if $z-index !='' {
        z-index: $z-index;
    }
}

// Cut angle
@mixin angle-cut($color) {
    &:after {
        border-color: $color transparent transparent transparent;
        border-style: solid;
        border-width: 1rem 1.5rem 0 0;
        content: '';
        display: block;
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
    }
}

// Buttons
@mixin bouton($color) {
    background-color: $color;
    border-color: $color;
    color: dynamic-color($color);
    transition: $transition-base;

    &:hover {
        background-color: shade($color, 15%);
        border-color: shade($color, 15%);
        color: dynamic-color($color);
    }
}

// Alerts
@mixin alert($color) {
    background-color: tint($color, 85);
    color: shade($color, 80);

    .alert-icon {
        color: shade($color, 10);
    }
}

// Socials sidebar
@mixin social($color) {
    background-color: $color;

    &:hover {
        background-color: shade($color, 40%);
    }
}