//
// Placeholders
// --------------------------------------------------


%well {
    background-color: $color-light;
    border-radius: $border-radius;
    display: flex;
    margin-bottom: 1.375rem;
    padding: 1rem;
}


// Utilities
// -----------------------------------
%vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

%fixed-pos-full {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

%ul-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

%box-shadow {
    box-shadow: 0 0.25rem 0.75rem black(0.2);
}

%meta-category {
    font-family: $font-family-headings;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
    text-transform: uppercase;

    a {
        color: $orange;
        transition: color 0.25s ease;
    }

    a:hover {
        color: shade($orange, 20%);
        text-decoration: none;
    }
}