//
// Placeholders
// --------------------------------------------------


%mobile {
    padding-left: 1rem;
    padding-right: 1rem;

    @media screen and (min-width: $small) {
        padding-left: 0;
        padding-right: 0;
    }
}

// Typography
// -----------------------------------
%bullet {
    color: inherit;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 0;
    padding: 0 0.25rem;
    transform: translateY(0.25rem);
}

%ul-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

%titre-service {
    color: inherit;
    font-family: $font-family-base;
    font-size: $font-size-sm;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}


// Elements
// -----------------------------------
%well {
    background-color: $color-light;
    border-radius: $border-radius;
    display: flex;
    margin-bottom: 1.375rem;
    padding: 1rem;
}

%btn-icon {
    padding-left: 0.5rem !important;

    .icon {
        padding-right: 0.25rem;
    }
}

// Logo full
// -----------------------------------

// fonds clairs
%darkblue {
    color: shade($office-azur, 50%);

    .acerola {
        color: $white;
    }

    .ball {
        color: $color-primary;
    }

    .carriere {
        color: $color-content-header-top;
    }
}

// Logo filaire
// -----------------------------------

// fonds foncés
%lightgray {
    color: $color-light;

    .ball {
        color: $color-primary;
    }
}

%lightyellow {
    color: $color-primary;

    .ball {
        color: $white;
    }
}

// Utilities
// -----------------------------------
%vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

%fixed-pos-full {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

%box-shadow {
    box-shadow: 0 0.25rem 0.75rem black(0.2);
}

%meta-category {
    font-family: $font-family-headings;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
    text-transform: uppercase;

    a {
        color: $link-color;
        transition: color 0.25s ease;
    }

    a:hover {
        color: shade($link-color, 20%);
        text-decoration: none;
    }
}