//
// acerolacarriere.fr - Variables and config
// --------------------------------------------------

// Breakpoint zone
// -----------------------------------
$small:   576px;
$medium:  768px;
$intermediate: 844px;
$large:   992px;
$x-large: 1200px;


// Font zone
// -----------------------------------

// Font families
$font-family-sans-serif:    ('Poppins', Arial, sans-serif);
$font-family-monospace:     (Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace);

$font-family-base :         $font-family-sans-serif;
$font-family-headings :     ('Lato', Arial, sans-serif);

// Font sizes
$font-size-base: 16px;
$font-size-lg:   1.125rem;
$font-size-sm:   0.875rem;

// Font weights
$font-weight-base:      400;
$font-weight-headings:  500;

// Line heights
$line-height-base:      1.45;
$line-height-headings:  1.2;

// Headings sizes (major third - 1.250)
$font-size-h1: 2.95rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;


// Color zone
// -----------------------------------

// Basics
$white:    #fff;
$black:    #000;

// Palette base (Flat WButtons)
$debris:            #d1d5d8;
$cyanide:           #3498db;
$tuesday-yellow:    #f1c40f;
$juicy-orange:      #e74c3c;
$ui-green:          #1abc9c;

// add
$orange-flowering:  #f5d76e;
$moody-carrot:      #f75c03;
$ny-red:            #d31145;
$washing-blue:      #c9dfed;
$turquoise-dream:   #81cfe0;
$office-azur:       #2274a5;
$seventies:         #b0b300;
$christmas-green:   #219452;

// Grayscale
$gray: $debris;
$gray-100: #f5f6f7;
$gray-200: #eceeef;
$gray-300: #e3e5e7;
$gray-400: #dadddf;
$gray-500: #d1d5d8;
$gray-600: #a7aaac;
$gray-700: #7d7f81;
$gray-800: #535556;
$gray-900: #292a2b;


// Semantic colors
$color-primary :    #f1c40f; // $tuesday-yellow
$color-secondary:   #7d7f81; // $gray-700
$color-success :    #1abc9c; // $ui-green
$color-info:        #3498db; // $cyanide
$color-warning:     #f75c03; // $moody-carrot
$color-danger:      #e74c3c; // $juicy-orange
$color-light:       #f5f6f7; // $gray-100;
$color-dark:        #535556; // $gray-800;
$color-darker:      #292a2b; // $gray-900;
$color-muted:       #7d7f81; // $gray-700;
$color-border:      #d1d5d8; // $gray-500;
$color-forms:       #535556; // $gray-800;
$color-code:        #e74c3c; // $juicy-orange
$color-office-dark: shade($office-azur, 30%);


// Brand colors
$facebook-color:    #3b5998;
$twitter-color:     #1da1f2;
$linkedin-color:    #0077b5;
$viadeo-color:      #f07355;
$pdf-color:         #aa0000;


// Composant colors
// -----------------------------------

$background-color-base: $white;

// Typography
$color-base: $color-darker;
$color-headings: $color-darker;

// Link
$link-color: $color-success;
$link-color-hover: shade($link-color, 25%);

// Header top
$color-header-top: tint($tuesday-yellow, 20%);
$color-content-header-top: $color-base;
$color-hover-header-top: $color-base;

// Header banner
$color-header-banner: $color-primary;

$color-header-menu: $gray-200;
$color-menu-bg-hover: $cyanide;
$color-menu-bg-active: tint($tuesday-yellow, 60%);
$color-menu-text-hover: $color-base;
$color-menu-text-active: $color-base;

// Header breadcrumb
$color-header-breadcrumb: $gray-100;
$link-color-breadcrumb: $color-base;
$link-color-hover-breadcrumb: $link-color-hover;
$link-color-breadcrumb-active: $gray-700;
$color-breadcrumb-icon: $tuesday-yellow;

// Post formats
$aside-bg-color: $christmas-green;
$aside-category-color: white(0.5);
$aside-title-color: $white;

$link-bg-color: $office-azur;
$link-category-color: white(0.5);
$link-title-color: $white;

// Pagination
$pagination-color: $office-azur;
$pagination-dots-color: $pagination-color;
$pagination-bg-color: $white;
$pagination-border-color: $office-azur;
$pagination-color-h: $white;
$pagination-bg-color-h: $office-azur;
$pagination-border-color-h: $office-azur;

// ---------------
// Components zone
// ---------------

// Global border-radius
$border-radius: 0.25rem;

// Global transition
$transition-base : all .25s ease-in-out;

// Forms
$input-focus-color: $color-base;
$input-focus-bg: mix($white, $color-info, 95);
$input-focus-border-color: $color-info;