//
// Alerts
// --------------------------------------------------

// alert
.alert {
    border-radius: $border-radius;
    border: 1px solid transparent;
    margin: 0 0 1.375rem;
    padding: 0.8rem 1.25rem 0.75rem 3.125rem;
    position: relative;

    .alert-title {
        display: block;
        font-weight: 700;
        font-size: $font-size-lg;
    }

    .alert-icon {
        display: block;
        left: 0.85rem;
        position: absolute;
    }
}

.alert-info {
    @include alert($color-info);
}

.alert-success {
    @include alert($color-success);
}

.alert-warning {
    @include alert($color-warning);
}

.alert-danger {
    @include alert($color-danger);
}