//
// Breadcrumb
// --------------------------------------------------

.breadcrumb {
    margin: 1rem 0;
    padding: 0;
}

.breadcrumb-item {
    display: inline;

    a {
        color: $link-color-breadcrumb;
        transition: $transition-base;
    }

    a:hover {
        color: $black;
    }

    &.active {
        color: $link-color-breadcrumb-active;
    }

    .icon {
        height: 1.25rem;
        color: $color-breadcrumb-icon;
        transform: translateY(-1px);
    }
}

.blog-breadcrumb {
    background-color: $color-header-breadcrumb;
    display: none;

    .home & {
        display: none;
    }

    @media screen and (min-width: $medium) {
        display: block;
    }
}