//
// Breadcrumb
// --------------------------------------------------

.breadcrumb {
    margin: 1rem 0;
    padding: 0;
}

.breadcrumb-item {
    display: inline;

    a {
        color: $link-color-breadcrumb;
    }

    a:hover {
        color: $link-color-hover-breadcrumb;
    }

    &.active {
        color: $link-color-breadcrumb-active;
    }

    .icon {
        height: 1.25rem;
        color: $color-breadcrumb-icon;
        transform: translateY(-1px);
    }
}