//
// Buttons
// --------------------------------------------------

.btn {
    border-radius: $border-radius;
    border: solid 1px transparent;
    display: inline-block;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: 700;
    line-height: 1.5;
    padding: 0.75rem 1.875rem;
    text-align: center;
    transition: $transition-base;
    user-select: none;
    white-space: normal;
}

a.btn:hover {
    text-decoration: none;
}

.btn-black {
    background-color: $black;
    border-color: $black;
    color: dynamic-color($black);
    transition: $transition-base;

    &:hover {
        background-color: tint($black, 25%);
        border-color: tint($black, 25%);
        color: dynamic-color($black);
    }
}

.btn-light {
    @include bouton($gray-300);
}

.btn-white {
    @include bouton($white);
}

.btn-primary {
    @include bouton($color-primary);
}

.btn-secondary {
    @include bouton($color-secondary);
}

.btn-success {
    @include bouton($color-success);
}

.btn-info {
    @include bouton($color-info);
    color: $white;

    &:hover,
    &.active {
        color: $white;
    }
}

.btn-warning {
    @include bouton($color-warning);
}

.btn-danger {
    @include bouton($color-danger);
}

.btn-pdf {
    @include bouton($pdf-color);
    @extend %btn-icon;
}

/* button scrolltop */
.btn-scrolltop {
    @extend .btn-success;
    border-radius: 50%;
    bottom: 55px;
    height: 50px;
    opacity: 0;
    padding: 0.375rem 0.75rem;
    position: fixed;
    right: 0.25rem;
    transition: $transition-base;
    width: 50px;
    z-index: 1000;

    @media screen and (min-width: $medium) {
        bottom: 75px;
        right: 1rem;
    }
}

.scroll-active {
    opacity: 0.85;
}