//
// Code
// --------------------------------------------------

// Code basique
code {
    background-color: $color-light;
    border-radius: $border-radius;
    color: $color-code;
    font-family: $font-family-monospace;
    font-size: $font-size-sm;
    padding: 0.1rem 0.25rem;
    word-break: break-word;
}

// Syntaxic color - hljs
pre {
    margin-bottom: 1.3rem;

    .comment {
        border-radius: 0;
        border: none;
        box-shadow: none;
        padding: 0;
    }

    .hljs {
        padding: 1rem;
        white-space: pre;
        word-wrap: normal;
    }
}

p + pre {
    margin-top: -0.8rem;
}
