//
// Block page download
// --------------------------------------------------

.entry-download {
    @extend %well;
    align-items: center;
    justify-content: space-between;
}

.entry-download__header {

    .h5 {
        font-family: $font-family-title;
        margin: 0;
    }
}

.entry-download__body {
}