//
// Block contact page
// --------------------------------------------------

.entry-contact {
    align-items: center;
    background-color: $office-azur;
    border-radius: $border-radius;
    clear: both;
    color: $white;
    display: flex;
    flex-direction: column;
    margin: 3.125rem 1rem 0;
    padding: 1.25rem 1rem;

    .title {
        @extend %titre-service;
        color: $white;
        margin: 0 0 1.5rem;
        font-weight: 400;
    }

    a {
        color: $color-primary;
    }

    .horaires {
        color: white(0.8);
        display: block;
        font-size: $font-size-sm;
        font-weight: 300;
    }

    ul {
        @extend %ul-reset;
        margin-bottom: 1rem;
        text-align: center;
    }

    li + li {
        margin: 0.5rem 0 0 !important;
    }

    @media screen and (min-width: $small) {
        margin: 3.125rem 0 0;
    }

    @media screen and (min-width: $medium) {
        display: none;
    }
}