//
// Block contact page
// --------------------------------------------------

.entry-contact {
    @extend %well;
    background-color: $office-azur;
    display: block;
    color: $white;

    .title {
        @extend %titre-service;
        margin: 0;
        color: $white;

    }

    a {
        color: $color-primary;
    }

    .horaires {
        display: block;
        font-size: $font-size-sm;
        color: white(0.7);
        font-weight: 300;
    }

    ul {
        margin: 0;
    }

    li,
    li+li {
        margin: 0.35rem 0 0 !important;
    }

    @media screen and (min-width: $medium) {
        display: none;
    }
}