//
// Block agréments page
// --------------------------------------------------

.entry-approval {
    background-color: $color-light;
    margin-bottom: 0;
    padding: 3.125rem 0;

    .container {
        display: block;
    }

    .home & {
        background-color: $white;
    }

    @media screen and (min-width: $medium) {
        padding: 1.56rem 0;
    }

    @media screen and (min-width: $large) {
        display: none;
    }
}

// titre
.approval-title {
    display: block;
    text-align: center;
    width: 100%;

    .title {
        font-weight: 500;
        margin: 0 0 1.56rem;
        white-space: nowrap;

        &:after {
            border: solid 1.5px $color-primary;
            content: '';
            display: block;
            margin: 0.5rem auto 0;
            width: 100px;
        }
    }
}

/* carousel */
.entry-approval .carousel {
    padding: 1rem 0;
    
    .slick-list {
        margin: 0;
    }

    .slick-active.slick-center a img {
        filter: grayscale(0);
        opacity: 1;
    }
}

// Logos
.entry-approval .carousel a {
    padding: 0 8rem;

    img {
        max-height: 75px;
        outline: none;
        width: auto;
    }

    @media screen and (min-width: $small) {
        padding: 0 2rem;

        img {
            filter: grayscale(100%);
            opacity: 0.4;
            transition: $transition-base;
        }
    }
}

// Slick Dots
.entry-approval .slick-dots li {
    button:before {
        color: $washing-blue;
    }

    &.slick-active button:before {
        color: $office-azur;
    }
}
