//
// Forms
// --------------------------------------------------

.form-control {
    @extend %form-control;
}

.form-group {
   @extend %form-group;
   p {
       margin: 0;
   }
}

.form-group label {
    @extend %label;
}

textarea {
    @extend %textarea;
}

.form-submit {
    margin-top: 2rem;
}

.required {
    @extend %required;
}

.form-control.required {
    color: $color-dark;
}

.form-control[name=your-subject] {
    max-width: 100%;
}

.form-inline {
    display: flex;
    justify-content: space-between;

    .form-group {
        flex: 0 1 48.75%;
    }

    .form-control {
        max-width: 100%
    }
}

// File input
.inputfile {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

label.btn {
    cursor: pointer;
    font-size: $font-size-lg;
    font-weight: 400;
    text-transform: lowercase;
    padding: 0.75rem;
    background-color: $gray-700;
    color: $white;
}

label.btn.selected {
    @extend .btn-success;
    font-weight: 400;
    text-transform: none;

    &:active,
    &:focus,
    &:hover {
        background-color: $color-success;
        border-color: $color-success;

    }
}

// Webkit autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: $color-base;
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
    transition: background-color 5000s ease-in-out 0s;
}

// Checkbox
input[type=checkbox] {
    appearance: none;
    background: $white;
    border: solid 2px $gray-500;
    cursor: pointer;
    height: 24px;
    min-width: 24px;
    width: 24px;
}

input[type=checkbox]:checked {
    background: $color-success;
    border: none;

    &:after {
        content: '';
        background-image: url('../icons/x.svg');
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
        display: block;
    }
}

// Form Job
.form-job {
    background-color: $gray-200;
    margin-top: 3.125rem;
    padding: 1.56rem 1rem;

    .text-info {
        color: $color-base;
    }

    input[type=submit],
    .wpcf7-form {
        width: 100%;
    }

    input.form-control,
    label.btn {
        width: 100%;
        max-width: none;
    }


    @media screen and (min-width: $small) {
        border-radius: $border-radius;
        padding: 1.56rem 2rem;
        margin-bottom: 3.125rem;

        .wpcf7-form,
        .text-info {
            width: 85%;
            margin: 0 auto 1.375rem;
        }

        input[type=submit] {
            width: auto;
        }
    }

    @media screen and (min-width: $x-large) {
        .wpcf7-form,
        .text-info {
            width: 75%;
        }
    }
}

.form-job .form-control {
    background-color: $white;
}

.form-job input[aria-invalid=true] {
    background-color: tint($color-danger,50);
    color: $white;
}


.form-job__title {
    text-align: center;
    margin-top: 0;

    &:after {
        border: none !important;
    }

    .job-title {
        @extend %titre-service;
        display: block;
        font-size: $font-size-h4;
        font-weight: 600;
        padding-top: 1rem;
    }

    .job-ref {
        display: block;
        font-size: $font-size-lg;
        font-weight: 400;
        padding-top: 0.25rem;
    }
}

.form-job .wpcf7-acceptance {
    padding-top: 1rem;
    display: block;
}

.form-job .wpcf7-acceptance label {
    display: flex;

    span {
        flex: 0 1 90%;
        margin-left: 1rem;
        color: $color-base;
        font-size: $font-size-base;
    }
}