//
// Forms
// --------------------------------------------------

.form-control {
    @extend %form-control;
}

.form-group {
   @extend %form-group;
}

.form-group label {
    @extend %label;
}

textarea {
    @extend %textarea;
}

.form-submit {
    margin-top: 2rem;
}

.required {
    @extend %required;
}

.form-control.required {
    color: $color-dark;
}

.form-control[name=your-subject] {
    max-width: 100%;
}