//
// Galerie collaborateurs
// --------------------------------------------------

.team-member {
    margin: 2rem auto;
    max-width: 280px;

    @media (min-width: $small) {
        float: left;
        margin: 2rem 1% 0 1%;
        max-width: 31%;
        min-height: 390px;
    }

    @media (min-width: $medium) {
        min-height: 380px;
    }

    @media (min-width: $x-large) {
        min-height: 410px;
    }
}

.team-member figcaption {
    .nom {
        font-family: $font-family-base;
        font-weight: 500;
        margin: 0.5rem 0 0.25rem;
    }

    .fonction {
        font-size: $font-size-sm;
        line-height: 1.3;
    }

    .experience {
        font-size: $font-size-sm;
        margin: 0.25rem 0 0;
    }
}