//
// Gutenberg class specific
// --------------------------------------------------

// Class to add
// -----------------------------------

.lead {
    font-weight: 500
}

.well {
    @extend %well;
    display: block;
}

.well-blue {
    @extend .well;
    background-color: tint($color-info, 85);
    color: shade($color-info, 80);
}

.well-green {
    @extend .well;
    background-color: tint($color-success, 85);
    color: shade($color-success, 80);
}

.well-yellow {
    @extend .well;
    background-color: tint($color-primary, 85);
    color: shade($color-primary, 80);
}

.well-info {
    @extend .well;
    background-color: $color-info;
    color: $white;
}

// Blocks gutenberg
// -----------------------------------

// Blockquote
.wp-block-quote {
    background-color: $color-light;
    border-radius: $border-radius;
    margin: 2rem 0 1.375rem 1.75rem;
    padding: 1rem;
    position: relative;

    p {
        margin-bottom: 0.25rem;
        text-align: justify;
    }

    cite {
        color: $color-dark;
        display: inline-block;
        font-weight: 300;
        font-size: $font-size-sm;
    }

    &:before {
        content: '';
        background-image: url('../icons/quote.svg');
        background-repeat: no-repeat;
        background-size: 2.75rem;
        display: block;
        position: absolute;
        height: 2.75rem;
        width: 2.75rem;
        left: -1.7rem;
        top: -0.8rem;
    }

    @media screen and (min-width: $small) {
        margin: 3rem 3rem 1.375rem 3rem;
    }
}

// Image
.post figure {
    margin: 0 0 1.375rem;

    img {
        @extend %img-fluid;
    }

    figcaption {
        text-align: center;
        padding-top: 0.25rem;
        color: $color-muted;
        font-style: italic;
        font-size: $font-size-sm;
    }

    &.alignleft,
    &.alignright,
    &.aligncenter {
        float: none;
        text-align: center;
    }

    @media screen and (min-width: $small) {

        &.alignleft,
        &.alignright {
            figcaption {
                display: none;
            }
        }

        &.alignleft {
            float: left;
            margin: 0 1.375rem 0 0;
        }

        &.alignright {
            float: right;
            margin: 0 0 0 1.375rem;
        }
    }
}

div.wp-block-image {
    display: inline;
}