//
// Home - Bloc counters
// --------------------------------------------------

/* Counters header */
.home-counters {
    display: none;
    position: relative;
    z-index: 15;

    @media screen and (min-width: $medium) {
        display: block;
    }
}

.home-counters .container {
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    position: relative;
    z-index: 15;
}

.home-counters .counter {
    border-radius: $border-radius;
    padding: 1rem;
    position: relative;

    &:first-child {
        margin-left: 0
    }

    &:last-child {
        margin-right: 0
    }

    @media screen and (min-width: $medium) {
        background: rgba($black,0.5);
        flex: 1 1 33.333%;
        margin: 0 0.25rem;
    }
}

.home-counters .counter-head {
    text-align: center;

    .counter--digit {
        color: $color-primary;
        font-size: $font-size-h1;
        font-weight: 300;
        line-height: 1;
        white-space: nowrap;
    }

    .counter--title {
        @extend %titre-service;
        color: $white;
        font-size: 1rem;
        margin-bottom: 0;
    }
}

.home-counters .counter-content {
    display: flex;
    justify-content: center;
    text-align: center;

    p {
        color: $gray-200;
        margin: 1rem 0 0.5rem;
    }
}

/* Counters body */
.home-counters-body {
    background-color: shade($office-azur, 50%);
    display: block;
    padding: 3.125rem 0;
    position: relative;
    z-index: 15;

    @media screen and (min-width: $medium) {
        display: none;
    }
}

.home-counters-body .container {
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 15;
}

.home-counters-body .counter {
    max-width: 380px;
    padding: 0 1rem;
    width: 100%;

    & + .counter {
        margin-top: 2.125rem;
    }
}

.home-counters-body .counter-head {
    text-align: center;

    .counter--digit {
        color: $white;
        font-size: $font-size-h1;
        font-weight: 500;
        line-height: 1;
        white-space: nowrap;
    }

    .counter--title {
        @extend %titre-service;
        color: $white;
        font-size: 1rem;
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;

        &:after {
            border: solid 1px $color-primary;
            content: '';
            display: block;
            margin-top: 0.5rem;
            margin: 0.5rem auto;
            width: 100px;
        }
    }
}

.home-counters-body .counter-content {
    text-align: center;

    p {
        color: $washing-blue;
    }
}