//
// Home - Bloc counters
// --------------------------------------------------


.home-counters {
    display: none;
    position: relative;
    z-index: 15;

    @media screen and (min-width: $medium) {
        display: block;
    }
}

.home-counters .container {
    align-items: stretch;
    flex-direction: column;
    padding-bottom: 1.5rem;
    position: relative;
    z-index: 15;

    @media screen and (min-width: $medium) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.home-counters .counter {
    position: relative;
    padding: 1rem;

    &:first-child {
        margin-top: -1.5rem;
    }

    &:last-child {
        margin-bottom: -1.5rem;
    }

    @media screen and (min-width: $medium) {
        background: rgba($black,0.5);
        flex: 1 1 33.333%;
        margin: 0 0.5rem;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $large) {
        margin: 0 0.25rem;
    }
}

.home-counters .counter-head {
    text-align: center;

    .counter--digit {
        color: $color-primary;
        font-size: $font-size-h1;
        font-weight: 300;
        line-height: 1;
        white-space: nowrap;
    }

    .counter--title {
        @extend %titre-service;
        color: $white;
        font-size: 1rem;
        margin-bottom: 0;
    }
}

.home-counters .counter-content {
    display: flex;
    justify-content: center;
    text-align: center;

    p {
        color: $washing-blue;
        margin: 1rem 0 0.5rem;
    }
}
