//
// Header banner jobJob filter
// --------------------------------------------------

.filters {
    @extend %mobile;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;

    .tri {
        margin-left: 1rem;
    }
}

.filters .btn-light {
    padding: 0.75rem;
    width: 100%;
    max-width: 314px;

    &:hover,
    &:focus,
    &.active {
        background-color: $gray-400;
        border-color: $gray-400;
    }

    &.active .icon {
        transform: rotate(180deg)
    }

    @media screen and (min-width: $small) {
        width: auto;
        padding: 0.75rem 1.875rem;;
        max-width: inherit;
    }
}

.filters-content,
.sort-content {
    @extend %mobile;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
        flex: 0 1 48%;
        margin: 1rem 0 0;
        padding: 0.75rem;
    }

    @media screen and (min-width: $small) {
        justify-content: flex-start;

        a {
            flex: 0 1 31%;
            margin: 1rem 0.5rem 0;
        }
    }
}

.sort-content {
   @media screen and (min-width: $small) {
       justify-content: flex-end;
   }
}