//
// Main Menu
// --------------------------------------------------

// Menu icon Home
.menu-header .menu-home {
    color: $color-base;
    padding-right: 0.25rem;
    
    .feather {
        height: $font-size-base;
        vertical-align: text-top;
        width: auto;
    }
}

// main menu blog
.site-menu {
    display: none;
    align-items: center;
    height: 60px;

    @media screen and (min-width: $medium) {
        display: flex;
    }
}

.site-menu ul {
    margin-bottom: 0;
}

.site-menu .menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 597;

    > .menu-item {
        padding-right: 0rem;
    }

    > .menu-item:last-child {
        padding-right: 0;
    }
}

.site-menu .menu .menu-item {
    min-height: 1px;
    position: relative;
    vertical-align: middle;

    &.hover,
    &:hover {
        cursor: default;
        position: relative;
        z-index: 101;
    }

    &:hover > ul {
        visibility: visible;
    }
}

.site-menu .menu .menu-item a {
    align-items: center;
    background-color: transparent;
    color: $color-base;
    display: flex;
    height: 60px;
    line-height: 1em;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-decoration: none;
    transition: $transition-base;

    &:hover {
        background-color: $silver;
        color: $color-darker;
        text-decoration: none;
    }
}


.site-menu .menu ul {
    bottom: 0;
    left: 0;
    margin-top: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: auto;
    z-index: 100;
    white-space: nowrap;

    .menu-item {
        a {
            background-color: $color-page-header;
            color: $color-base;
            padding: 0.75rem 1rem;
            border-top: solid 1px $white;
            
        }

        a:hover {
            background-color: $silver;
            color: $color-darker;
        }
    }
}
