//
// Main Menu
// --------------------------------------------------


// main menu blog
.site-menu {
    align-items: center;
    display: none;
    height: 60px;

    @media screen and (min-width: $medium) {
        display: flex;
    }
}

.site-menu ul {
    margin-bottom: 0;
}

.site-menu .menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media screen and (min-width: $medium) {
        > .menu-item:last-child {
            display: none;
        }
    }
    @media screen and (min-width: $large) {
        > .menu-item:last-child {
            display: block;
        }
    }
    
}

// Menu niveau 1
.site-menu .menu .menu-item {
    position: relative;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-weight: 600;

    &.hover,
    &:hover {
        cursor: default;
        position: relative;
        z-index: 101;
    }

    &:hover > ul {
        visibility: visible;
    }
}

.site-menu .menu .menu-item a {
    align-items: center;
    background-color: transparent;
    color: $color-base;
    display: flex;
    line-height: 1em;
    margin: 0.5rem 0.5rem;
    padding: 0.375rem 0 0.25rem ;
    text-decoration: none;
    transition: $transition-base;
    border-bottom: solid 4px transparent;

    &:hover {
        background-color: transparent;
        color: $color-menu-text-hover;
        text-decoration: none;
        border-color: $cyanide;
    }
}

.site-menu .menu .menu-item.active > a,
.site-menu .menu .menu-item.current-menu-ancestor > a {
    border-color: $cyanide;
}

// Menu niveau 2
.site-menu .menu ul {
    bottom: 0;
    left: -45%;
    margin-top: 0;
    position: absolute;
    right: -45%;
    top: 135%;
    visibility: hidden;
    white-space: nowrap;
    width: auto;
    z-index: 100;

    &:after {
        border-color: transparent transparent shade($office-azur, 50%) transparent;
        border-style: solid;
        border-width: 0 0 1rem 1.35rem;
        content: '';
        display: block;
        height: 0;
        left: calc(50% - 1.35rem);
        position: absolute;
        top: -1rem;
        width: 0;
        // transition: $transition-base;
    }
}

.site-menu .menu ul .menu-item a {
    background-color: shade($office-azur, 50%);
    border: none;
    color: white(0.5);
    display: block;
    font-size: 0.925em;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-align: center;

    span {
        border-bottom: solid 1px white(0.25);
        display: block;
        padding: 1.15rem 0;
    }  
}

.site-menu .menu ul .menu-item {
    a:hover,
    &.active > a {
        background-color: shade($office-azur, 50%);
        color: $white;
    }

    &:last-child a span {
        border-bottom: none;
    }

    &:first-child a {
        border-radius: $border-radius $border-radius 0 0;
    }

    &:last-child a {
        border-radius: 0 0 $border-radius $border-radius;
    }
}

.site-menu .menu .menu-item.current_page_parent a {
    border-color: $cyanide;
}
