//
// Mobile menu
// --------------------------------------------------

.mobile-menu .container {
    flex-direction: column;
    padding: 1.15rem 0 0;
    height: 100vh;
}

.mobile-menu ul {
    margin: 0;
}

// Mobile Menu Mechanics
.mobile-menu {
    background-color: $color-darker;
    left: -100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    transition: $transition-base;
    width: 82vw;
    z-index: 102;

    &.move {
        left: 0;
    }

    @media screen and (min-width: $medium) {
        display: none;
    }
}

// fixe le body pour stop scroll
.fix {
    overflow: hidden;
    // position: fixed;
    width: 100vw;
    height: 100vh;
}


// toggle button
// -----------------------------------
.menu-toggle {
    background: none;
    border: 0;
    color: $white;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1005;

    .icon {
        height: 2rem;
    }

    @media screen and (min-width: $medium) {
        display: none;
    }
}

.menu-toggle.active {
    background: $color-primary;
    min-height: 120px;
    position: absolute;
    right: -18vw;
    top: 0;
    width: 18vw;

    &:focus,
    &:active {
        background: none;
        outline: none;
    }
}


// Smart Menu
// -----------------------------------
.smart-menu {
    flex: 10 1 auto;
}

.smart-menu--legal {
    flex: 0 1 auto;
    // padding: 0.45rem 0;
    background-color: $color-dark;
}


.smart-menu .menu .menu-item {
    min-height: 1px;
    position: relative;
    vertical-align: middle;

    &.hover,
    &:hover {
        cursor: default;
        position: relative;
        z-index: 101;
    }

    &:hover > ul {
        display: block;
    }

    &.active,
    &.current-menu-ancestor {
        background-color: $color-info;
    }
}

.smart-menu .menu-item a {
    color: $color-light;
    display: block;
    padding: 0.55rem 1.15rem;
    font-size: $font-size-lg;

    + ul a {
        padding-left: 2.3rem;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.smart-menu--legal .menu-item a {
    color: white(0.7);
    font-size: $font-size-base;
    padding: 0.45rem 1.15rem;
}

.smart-menu .menu ul {
    display: none;
    background-color: $color-dark;
    margin: 0.45rem 0;
    padding: 0.45rem 0;
}

// Mobile search
// -----------------------------------
.mobile-menu .search-form {
    flex: 0 1 auto;
    display: flex;
    padding: 0 1rem 1rem;
    position: relative;

    .search-field {
        background-color: white(0.15);
        border-color: transparent;
        color: $color-light;
        height: 30px;
        
        &::placeholder {
            color: shade($color-light, 30%);
        }

        &:focus {
            border-color: $color-secondary;
            box-shadow: 0 0 5px rgba($color-secondary, 1);
        }
    }

    .search-submit {
        background-color: transparent;
        border: none;
        color: $color-light;
        position: absolute;
        right: 1rem;
        top: 0.25rem;
    }
}