//
// Mobile menu
// --------------------------------------------------

// toggle button
.menu-toggle {
    background: none;
    border: 0;
    color: $white;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1005;

    @media screen and (min-width: $medium) {
        display: none;
    }
}

.menu-toggle.active {
    // bottom: 0;
    // position: fixed;
    // right: 0;
    // top: 0;
    // width: 18vw;
    // text-indent: -9999px;
    // display: none;

    &:focus,
    &:active {
        background: none;
        outline: none;
    }
}


// Mobile Menu Mechanics
// -----------------------------------
.mobile-menu {
    background-color: $color-darker;
    left: -83vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    transition: $transition-base;
    width: 82vw;
    z-index: 102;

    &.move {
        left: 0;
    }

    @media screen and (min-width: $medium) {
        display: none;
    }
}

// fixe le body pour stop scroll
.fix {
    overflow: hidden;
    position: fixed;
    width: 100vw;
}


// Mobile Menu
// -----------------------------------
.mobile-menu .container {
    display: block;
    // min-height: 80vh;
}

.mobile-menu a,
.mobile-menu__search {
    // align-content: stretch;
    // align-items: stretch;
    // background-color: $peter-river;
    // color: $white;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // height: 12vh;
    // justify-content: flex-start;
    // padding-left: 6vh;
}

// recherche
.mobile-menu__search .search-form {
    // align-content: stretch;
    // align-items: stretch;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: flex-end;
    // width: 100%;
}

.mobile-menu__search .search-form .search-field {
    // background-color: $peter-river;
    // border: none;
    // color: $white;
    // flex: 1 1 auto;
    // width: 100%;

    // &::placeholder {
    //     color: $white;
    //     transition: $transition-base;
    // }

    // &:focus::placeholder {
    //     color: white(0.4);
    // }
}

.mobile-menu__search .search-form .search-submit {
    // background-color: $color-dark;
    // border-radius: 0;
    // flex: 0 0 90px;

    // .icon {
    //     height: 42px;
    //     width: 42px;
    // }
}

// menu
.mobile-menu a {
    // margin-top: 1vh;

    // span {
    //     align-self: center;
    //     flex: 1 1 auto;
    //     order: 0;
    // }
}