//
// Post navigation
// --------------------------------------------------

// Single post navigation
.post-navigation {
    @extend %mobile;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $font-family-headings;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-bottom: 1.375rem;
}


.post-navigation .nav-direction {
    background-color: $office-azur;
    border-radius: $border-radius;
    color: $white;
    transition: $transition-base;

    .icon {
        vertical-align: top;
        transform: translateY(1.5px);
    }
}

.post-navigation .nav-previous {
    flex: 1 1 auto;
    text-align: right;

    .nav-direction {
        padding: 0.6rem 0 0.75rem 0.75rem;
    }
}

.post-navigation .nav-next {
    flex: 0 1 auto;

    .nav-direction {
        padding: 0.6rem 0.75rem 0.75rem 0;
    }

    text-align: right;

    @media screen and (min-width: $small) {
        padding-top: 0;
    }
}

.post-navigation a:hover {
    text-decoration: none;

    .nav-direction {
        background-color: $cyanide;
        color: white;
    }
}
