//
// Post navigation
// --------------------------------------------------

// Single post navigation
.post-navigation {
    @extend %mobile;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}


.post-navigation .nav-direction {
    background-color: transparent;
    border: solid 1px $office-azur;
    border-radius: $border-radius;
    color: $office-azur;
    transition: $transition-base;

    .icon {
        vertical-align: top;
    }
}

.post-navigation .nav-title {
    color: $color-border;
    display: block; // masqué
    display: none;
    font-size: $font-size-sm;
    margin-top: 1rem;
    transition: $transition-base;
}

.post-navigation .nav-previous {
    .nav-direction {
        padding: 0.5rem 0.5rem 0.5rem 0;
    }

    .nav-title {
        padding-left: 6px;
    }

    @media screen and (min-width: $small) {
        padding-right: 1rem;
    }
}

.post-navigation .nav-next {
    .nav-direction {
        padding: 0.5rem 0 0.5rem 0.5rem;
    }

    padding-top: 1rem;
    text-align: right;

    .nav-title {
        padding-right: 6px;
    }

    @media screen and (min-width: $small) {
        padding-left: 1rem;
        padding-top: 0;
    }
}

.post-navigation a:hover {
    text-decoration: none;

    .nav-direction {
        background-color: $office-azur;
        color: white;
    }
}
