//
// Pagination
// --------------------------------------------------

// Page pagination
.pagination {
    display: block;
    padding-top: 2rem;
    text-align: center;
}

.pagination .nav-links {
    display: flex;
    justify-content: center;
}

.pagination .page-numbers {
    border-radius: 50%;
    background-color: $pagination-bg-color;
    border: solid 2px $pagination-border-color;
    color: $pagination-color;
    font-size: $font-size-lg;
    font-weight: 500;
    height: 2.5rem;
    line-height: 2;
    margin: 0 0.2rem;
    text-align: center;
    transition: $transition-base;
    width: 2.5rem;

    &:hover,
    &.current {
        background-color: $pagination-bg-color-h;
        border-color: $pagination-border-color-h;
        color: $pagination-color-h;
        text-decoration: none;
    }
 
    &.prev,
    &.next {
        .icon {
            transform: translateY(-1px);
            vertical-align: middle;
        }
    }

    &.dots,
    &.dots:hover {
        background-color: transparent;
        border: none;
        color: $pagination-dots-color;
        margin: 0;
    }
}