//
// Pagination
// --------------------------------------------------

// Page pagination
.pagination {
    display: block;
    padding-top: 2rem;
    text-align: center;
}

.pagination .nav-links {
    display: flex;
    justify-content: center;
}

.pagination .page-numbers {
    border-radius: 50%;
    background-color: $color-primary;
    border: solid 1px $color-primary;
    color: $white;
    font-family: $font-family-base;
    font-size: $font-size-lg;
    font-weight: 400;
    height: 2.5rem;
    line-height: 2.15;
    margin: 0 0.2rem;
    text-align: center;
    transition: $transition-base;
    width: 2.5rem;

    &:hover,
    &.current {
        background-color: $white;
        border-color: $color-primary;
        color: $color-primary;
        text-decoration: none;
    }
 
    &.prev,
    &.next {
        line-height: 2.3;
    }

    &.dots,
    &.dots:hover {
        background-color: transparent;
        border: none;
        color: $color-primary;
        margin: 0;
    }
}