//
// Post formats
// --------------------------------------------------

.blog-home .format-aside,
.blog-home .format-link {
    @extend %mobile; 

    @media screen and (min-width: $small) {
        &.post {
            padding: 0.25rem 0;
            border-top: none !important;
        }
        
        &.post + .post {
            border-top: none;
        }
    }

    .entry-meta {
        display: none;
    }
}

.format-link,
.format-aside {
    
    .post-header {
        border-radius: $border-radius;
        padding: 1.25rem 0;

        @media screen and (min-width: $small) {

        }
    }

    .post-header__entry {
        padding: 0 1rem !important;
    }

    .post-header__thumbnail {
        padding: 0.5rem 0 0 1.25rem;

        .icon {
            height: 4rem;
            color: white(0.5);
        }
    }
}

// aside format
.format-aside .post-header {
    background-color: $color-info;

    .entry-category a {
        color: $white;
    }
}

// link format
.format-link .post-header {
    background-color: $color-primary;
}