//
// Block social share
// --------------------------------------------------
.social-bar {
    @extend %mobile;
    align-content: flex-start;
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    height: 44px;
    justify-content: flex-start;
    margin-bottom: 1.375rem;
    margin-top: 1.375em;

    div {
        flex: 1 1 auto;
    }

    a {
        align-items: center;
        color: $white;
        display: flex;
        height: 44px;
        justify-content: center;
        transition: $transition-base;
    }

    a:hover {
        text-decoration: none;
    }

    .icon {
        height: 1rem;
        margin-left: -0.5rem;
    }

    .title {
        display: none;
        font-size: $font-size-sm;
        margin-left: 0.75rem;
        line-height: 1.4;
    }

    @media screen and (min-width: $small) {
        margin-top: 1.375rem;
    }

    @media screen and (min-width: $medium) {
        .title {
            display: inline-block;
        }
    }

    @media screen and (min-width: $large) and (max-width: $x-large) {
        .title {
            margin-left: 0.4rem;
        }
    }
}

.social-bar .acerola {
    display: none;
    flex: 0 1 auto;
    margin: -1px 0 0 -2px;
    padding-right: 0.5rem;

    a {
        padding-left: 0;
    }

    .logo-acerola-filet {
        @extend %darknight;
        height: 46px;
        width: auto;
    }

    @media screen and (min-width: $small) {
        display: block;
    }
}

.social-bar .facebook a {
    background-color: $facebook-color;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    &:hover {
        background-color: shade($facebook-color, 15%);
    }
}

.social-bar .twitter a {
    background-color: $twitter-color;

    &:hover {
        background-color: shade($twitter-color, 15%);
    }
}

.social-bar .linkedin a {
    background-color: $linkedin-color;

    &:hover {
        background-color: shade($linkedin-color, 15%);
    }
}

.social-bar .viadeo a {
    background-color: $viadeo-color;

    &:hover {
        background-color: shade($viadeo-color, 15%);
    }
}

.social-bar .email a {
    background-color: $color-primary;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &:hover {
        background-color: shade($color-primary, 15%);
    }
} 