//
// Blog home
// --------------------------------------------------
.blog-home .post {
    padding-bottom: 0.25rem;
    padding-top: 1.25rem;

    @media screen and (min-width: $small) {
        padding-bottom: 1.25rem;

        & + .post {
            border-top: solid 1px $color-border;
        }
    }
}

.blog-home .entry-category {
    font-size: $font-size-base;
}

.blog-home .article {
    @extend %mobile;
    position: relative;

    @media screen and (min-width: $small) {
        align-items: flex-start;
        display: flex;
    }
}

.blog-home .article__thumbnail {
    border-radius: $border-radius;

    img {
        @extend %img-fluid;
        border-radius: $border-radius;
    }
    
    &:before {
        @include abs-pos(0, 1rem, 1rem, 0, '10');
        background: linear-gradient(to bottom, black(0) 0%, black(0.65) 80%);
        border-radius: $border-radius;
        content:'';
    }

    @media screen and (min-width: $small) {
        flex: 0 1 auto;

        img {
            max-width: 210px;
        }

        &:before {
            display: none;
        }
    }

    @media screen and (min-width: $large) {
        img {
            max-width: 140px;
        }
    }

    @media screen and (min-width: $x-large) {
        img {
            max-width: 240px;
        }
    }
}

.blog-home .article__entry {
    @extend %mobile;
    bottom: 1rem;
    height: 120px;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 15;
    
    .entry-meta {
        display: none;
    }

    @media screen and (min-width: 400px) {
        .entry-meta {
            color: $gray-400;
            display: block;
            padding-top: 1rem;
        }

        .entry-meta__author .icon {
            display: none;
        }

        .entry-meta__date {

            .last-update,
            .bullet {
                display: none;
            }

            .entry-date {
                display: inline-block;
            }
        }   
    }

    @media screen and (min-width: $small) {
        bottom: 0;
        flex: 1 1 auto;
        height: auto;
        padding: 0 0 0 1rem;
        position: relative;

        .entry-meta {
            color: $gray-700;
            display: block;
            min-height: auto;
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}

.blog-home .article__entry .entry-title {
    line-height: $line-height-headings;
    margin: 0;

    a {
        color: $white;
        transition: $transition-base;
    }

    @media screen and (min-width: $small) {
        font-size: $font-size-h3;
        margin: 0.25rem 0 0.5rem;

        a {
            color: $color-headings;
        }

        a:hover {
            color: $gray-700;
            text-decoration: none;
        }
    }

    @media screen and (min-width: $medium) {
        font-size: $font-size-h2;
    }
}