//
// Blog list posts
// --------------------------------------------------

.blog-home {
    padding-bottom: 1.375rem;

    @media screen and (min-width: $small) {
        padding-bottom: 0;
    }
}

.blog-home .h1 {
    @extend %mobile;
}

// infinite scroll
.jscroll .pagination {
    display: none;
}

.loader {
    @extend %titre-service;
    background-image: url('../images/ajax-loader.gif');
    background-position: center top;
    background-repeat: no-repeat;
    color: $color-secondary;
    font-weight: 400;
    margin-top: 1.375rem;
    padding-top: 2.5rem;
    text-align: center;

    @media screen and (min-width: $small) {
        margin-bottom: 1.375rem;
    }
}

// posts
.blog-home .post {
    padding-bottom: 0;
    padding-top: 1.25rem;

    @media screen and (min-width: $small) {
        padding-bottom: 1.25rem;

        & + .post {
            border-top: solid 1px $color-border;
        }
    }
}

.blog-home .entry-category {
    font-size: $font-size-base;
}

.blog-home .post-header {
    @extend %mobile;
    position: relative;

    @media screen and (min-width: $small) {
        align-items: flex-start;
        display: flex;
    }
}

.blog-home .post-header__thumbnail {
    border-radius: $border-radius;

    img {
        @extend %img-fluid;
    }
    
    &:before {
        @include abs-pos(0, 1rem, 1rem, 0, '10');
        background: linear-gradient(to bottom, black(0) 0%, black(0.65) 80%);
        border-radius: $border-radius;
        content:'';
    }

    @media screen and (min-width: $small) {
        flex: 0 1 auto;

        img {
            max-width: 210px;
        }

        &:before {
            display: none;
        }
    }

    @media screen and (min-width: $large) {
        img {
            max-width: 140px;
        }
    }

    @media screen and (min-width: $x-large) {
        img {
            max-width: 240px;
        }
    }
}

.blog-home .post-header__entry {
    @extend %mobile;
    bottom: 1rem;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 15;

     @media screen and (min-width: 400px) {
        bottom: 0.1rem;
     }
    
    @media screen and (min-width: $small) {
        bottom: 0;
        flex: 1 1 auto;
        padding: 0 0 0 1rem;
        position: relative;
    }
}

.blog-home .entry-meta {
    display: none;

    @media screen and (min-width: 400px) {
        color: $gray-400;
        display: block;
        padding-top: 1rem;

        .entry-meta__author .icon {
            display: none;
        }

        .entry-meta__date {
            .last-update,
            .bullet {
                display: none;
            }
        }   
    }

    @media screen and (min-width: $small) {
        color: $gray-700;
        display: block;
        min-height: auto;
        padding-bottom: 0;
        padding-top: 0;
    }
}

.entry-date.entry-date--long,
.entry-meta__date .entry-date.entry-date--long {
    display: none;

    @media screen and (min-width: $small) {
        display: inline-block;
    }
}

.entry-date.entry-date--short,
.entry-meta__date .entry-date.entry-date--short {
    display: inline-block;

    @media screen and (min-width: $small) {
        display: none;
    }
}


.blog-home .entry-title {
    line-height: $line-height-headings;
    margin: 0;
    font-size: $font-size-h3;

    &:after {
        border: none;
        margin: 0;
    }

    a {
        color: $white;
        transition: $transition-base;

        &:hover,
        &:active,
        &:focus {
            color: $color-light;
        }
    }

    @media screen and (min-width: $small) {
        margin: 0.25rem 0 0.5rem;

        a {
            color: $color-headings;
        }

        a:hover {
            color: $gray-700;
            text-decoration: none;
        }
    }

    @media screen and (min-width: $medium) {
        font-size: $font-size-h2;
    }
}