//
// Blog home
// --------------------------------------------------
.blog-home .post {
    padding-bottom: 0.25rem;

    & + .post {
        border-top: solid 1px $color-border;
        padding-top: 1.25rem;
    }
}

.blog-home .entry-category {
    font-size: $font-size-base;
}

.blog-home .article {
    @extend %mobile;
    position: relative;

    @media screen and (min-width: $small) {
        align-items: flex-start;
        display: flex;
    }
}

.blog-home .article__thumbnail {
    border-radius: $border-radius;

    img {
        border-radius: $border-radius;
    }
    
    &:before {
        @include abs-pos(0, 1rem, 1rem, 0, '10');
        background: linear-gradient(to bottom, black(0) 0%, black(0.65) 80%);
        border-radius: $border-radius;
        content:'';
    }

    @media screen and (min-width: $small) {
        flex: 0 1 auto;

        &:before {
            display: none;
        }
    }
}

.blog-home .article__entry {
    @extend %mobile;
    bottom: 1rem;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 15;
    
    .entry-meta {
        display: none;
    }

    @media screen and (min-width: 400px) {
        .entry-meta {
            color: $gray-400;
            display: block;
            padding-top: 1rem;
        }

        .entry-meta__author .icon {
            display: none;
        }

        .entry-meta__date {

            .last-update,
            .bullet {
                display: none;
            }

            .entry-date {
                display: inline-block;
            }
        }   
    }

    @media screen and (min-width: $small) {
        bottom: 0;
        flex: 1 0.5 110%;
        padding: 0 0 0 1rem;
        position: relative;

        .entry-meta {
            color: $gray-700;
            display: block;
            padding-top: 0;
        }
    }
}

.blog-home .article__entry .entry-title {
    margin: 0;
    line-height: $line-height-headings;

    a {
        color: $white;
    }

    @media screen and (min-width: $small) {
        margin: 0.25rem 0 0.5rem;
        font-size: $font-size-h3;

        a {
            color: $color-headings;
        }
    }

    @media screen and (min-width: $medium) {
        font-size: $font-size-h2;
    }
}