//
// Category page
// --------------------------------------------------

// Titre
.category .h1 {
    @extend %mobile;
}

.category .training-list .h1 span {
    text-transform: lowercase;
}


// Posts
// -----------------------------------
.category .post {
    background-color: $gray-100;
    border-radius: $border-radius;
    margin: 1.25rem 1rem 0;
    padding: 1rem;
    transition: $transition-base;

    &:hover {
        background-color: $gray-300;
    }

    @media screen and (min-width: $small) {
        margin: 1.25rem 0 0;
        padding: 1.25rem;
    }
}

.category .post-header {
    position: relative;
    display: flex;
    flex-direction: column;
}

.category .post-header .entry-title {
    @extend %titre-service;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: $line-height-headings;
    margin: 0 0 0.5rem;
    padding: 0;

    &:after {
        border: none;
        margin: 0;
    }

    a {
        color: $color-info;
        transition: $transition-base;

        &:hover,
        &:active,
        &:focus {
            color: $office-azur;
            text-decoration: none;
        }
    }

    @media screen and (min-width: $small) {
        font-size: $font-size-h4;
    }
}

.entry-meta-jobs {
    color: $color-base;
    display: block;
    font-size: $font-size-base;
    padding: 0;
}

.entry-meta-jobs div {
    display: inline-block;
    margin-right: 0.5rem;

    &:last-child {
        margin-right: 0;
    }

    .icon {
        color: $color-info;
        width: 1.1rem;
    }
}