//
// Homepage
// --------------------------------------------------
.home .wrapper {
    background-color: $gray-300;
}

/* home title */
.home .h2 {
    color: $color-base;
    font-weight: 500;
    margin: 0 0 30px;

    &:after {
        border: solid 1.5px $color-primary;
        content: '';
        display: block;
        margin-top: 0.5rem;
        width: 100px;
    }

    &.center:after {
        margin: 0.5rem auto 0;
    }
}

/* list checklist */
.main .checklist-home {
    padding: 0;
    margin: 0;
}

.checklist-home li {
    border-bottom: 1px solid rgba($black, 0.1);
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0 0 10px 30px;
    position: relative;

    &:last-child {
        border-bottom: none;
    }
}

.checklist-home li:before {
    content: '';
    background-image: iconhome('check.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    display: block;
}