//
// Homepage
// --------------------------------------------------

/* Bloc Company */
.home-company {
    padding-top: 0;
    position: relative;

    .container {
        flex-direction: row;
        justify-content: flex-start;
        max-width: 100%;
        padding: 0;
    }
    
    @media screen and (min-width: $medium) {
        flex-direction: row;
        align-items: stretch;
    }
}

.home-company .home-bloc--picture {
    flex: 0 1 auto;

    .img-fluid {
        border-radius: 0;
    }

    // @media screen and (min-width: $medium) {
    //     flex: 0 1 50%;
    // }
}

.home-company .home-bloc--content {
    @extend %absolute-pos;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgba($black, 0) 50%, rgba($black, 0.6) 60%);
    padding: 1.875rem;
    color: $white;

    .h2 {
        color: $white;
    }

    .btn {
        align-self: center;
    }

    @media screen and (min-width: 600px) {
        padding: 1.875rem 3.75rem;
    }

    @media screen and (min-width: $medium) {
        // background: transparent;
        // background-color: $color-info;
        // position: relative;
        // flex: 0 1 50%;
        // padding: 1rem 1.875rem 1.875rem;

        // .btn {
        //     align-self: flex-start;
        // }
    }
}
