//
// Job single post
// --------------------------------------------------

.single-job {
    @extend %mobile;
}

.single-job .entry-title {
    font-family: $font-family-base;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0;
    text-transform: uppercase;
}

.single-job .entry-remind {
    @extend %titre-service;
    color: $gray-700;
    font-weight: 400;
    margin: 0;

    @media screen and (min-width: $medium) {
        display: none;
    }
}

.single-job .criterias {
    background-color: $gray-100;
    border-radius: $border-radius;
    margin-bottom: 1.375rem;

    @media screen and (min-width: $large) {
        display: none;
    }
}

.single-job .criterias-title {
    @extend %titre-service;
    font-weight: 600;
    margin: 0 0 -0.5rem;
    padding: 1rem 1rem 0 1.5rem;

    &:after {
        border: none;
    }
}

.single-job .criterias > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media screen and (min-width: $small) {
        justify-content: space-between;
    }

    @media screen and (min-width: $medium) {
        justify-content: space-between;
    }
}

.single-job .meta-content {
    color: $color-base;
    display: block;
    font-size: $font-size-base;
    padding: 0;

    .text-muted {
        color: $color-info;
        line-height: 1;
        margin-bottom: 0.15rem;
    }
}

.single-job .criterias .entry-meta {
    display: flex;
    flex: 1 1 100%;
    padding: 1rem 0 0.75rem 1.5rem;
    position: relative;

    & + .entry-meta {
        border-top: solid 1px $color-border;
    }

    @media screen and (min-width: $small) and (max-width: $medium - 1) {
        flex: 0 1 50%;
        border-bottom: solid 1px $color-border;

        &:last-child:nth-child(odd) {
            border-bottom: none;
        }

        &:nth-last-child(2):nth-child(odd),
        &:last-child:nth-child(even) {
            border-bottom: none;
        }
        
        & + .entry-meta {
            border-top: none;
        }
    }
    
    @media screen and (min-width: $medium) {
        flex: 0 1 33.333333%;

        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
            border-top: none;
        }
    }
}

.single-job .criterias .meta-picto {
    align-items: flex-start;
    color: $color-info;
    display: flex;
    padding-right: 0.75rem;

    .icon {
        stroke-width: 1.5px; 
    }
}