//
// Job list posts
// --------------------------------------------------

.job-list {
    padding-bottom: 1.375rem;

    @media screen and (min-width: $small) {
        padding-bottom: 0;
    }
}

.job-list .h1 {
    @extend %mobile;

    span {
        display: block;
        font-size: $font-size-h2;
        color: $color-info;
    }
}

// posts
.job-list .post {
    background-color: $gray-100;
    border-radius: $border-radius;
    margin: 1.25rem 1rem 0;
    padding: 1rem;

    @media screen and (min-width: $small) {
        margin: 1.25rem 0 0;
        padding: 1.25rem;
    }
}

.job-list .post-header {
    position: relative;
    display: flex;
    flex-direction: column;
}

.job-list .post-header .entry-title {
    @extend %titre-service;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: $line-height-headings;
    margin: 0 0 0.5rem;
    padding: 0;

    a {
        color: $color-info;
        transition: $transition-base;

        &:hover,
        &:active,
        &:focus {
            color: $office-azur;
            text-decoration: none;
        }
    }

    @media screen and (min-width: $small) {
        font-size: $font-size-h4;
    }
}

.job-list .entry-meta {
    color: $color-base;
    display: block;
    font-size: $font-size-base;
    padding: 0; 
}

.job-list .entry-meta div {
    display: inline-block;
    margin-right: 0.5rem;

    &:last-child {
        margin-right: 0;
    }

    .icon {
        color: $color-info;
        width: 1.1rem;
    }
}