//
// Sitemap
// --------------------------------------------------

.brand {
    color: $color-headings;
    font-family: $font-family-base;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
}

.sitemap-display a {
    font-weight: 600;
}