//
// Formations homepage
// --------------------------------------------------
.all-categories {
    display: flex;
    flex-direction: column;
}


// Category entry
.category-entry {
    align-content: stretch;
    align-items: stretch;
    background-color: $gray-100;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    margin-top: 1.375rem;
    padding: 1rem 1rem 0;
    transition: $transition-base;

    &:hover {
        background-color: $gray-300;
    }
}

.category-entry .title {
    display: flex;
    flex-basis: row;

    .visuel {
        display: block;
        flex: 0 1 auto;
        padding-right: 0.75rem;
    }

    .icon {
        height: 2rem;
    }

    .icon-compass {
        stroke-width: 1.5px;
    }

    .h3 {
        @extend %titre-service;
        flex: 1 1 auto;
        font-size: $font-size-lg;
        font-weight: 400;
        margin-top: 0.25rem;
    }

    .h3 a:hover {
        text-decoration: none;
    }

    @media screen and (min-width: $small) {
        align-items: center;
        align-content: center;
        margin-bottom: 0.75rem;

        .h3 {
            margin: 0;
        }
    }
}

.category-entry .description a {
    color: $color-base;

    &:hover {
        text-decoration: none;
    }
}
