//
// Formations homepage
// --------------------------------------------------
.all-categories {
    display: flex;
    flex-direction: column;
}

.training-list .well {
    .h3 {
        margin-top: 0;
    }

    ul {
        margin-bottom: 0;
    }
}

.training-list .checklist li {
    padding-left: 0.4rem;

    &:before {
        background-image: url('../icons/check.svg');
        background-repeat: no-repeat;
        background-size: 1.25rem;
        content: '';
        display: inline-block;
        height: 1.25rem;
        left: -1.25rem;
        position: absolute;
        top: 0.05rem;
        width: 1.25rem;
    }
}


// Category entry
.category-entry {
    background-color: $gray-300;
    border-radius: $border-radius;
    margin-top: 1.375rem;
    padding: 1.25rem 1rem;
    text-align: center;

    + .category-entry {
        margin-top: 3.125rem;
    }

    .title {
        margin-top: 0;
    }

    .title:after {
        border-color: $color-info;
        // border-color: rgba($black,0.25);
        margin: 0.5rem auto 0
    }

    @media screen and (min-width: $small) {
        .description {
            margin: 0 auto 1.375rem;
            max-width: 75%;
        }
    }

    @media screen and (min-width: $large) {
        padding: 1.25rem;
        text-align: left;

        .title:after {
            margin: 0.5rem 0 0
        }

        .description {
            margin: 0 0 1.375rem;
            max-width: none;
        }
    }
}

.category-entry .btn {
    display: block;

    .icon {
        height: 1.75rem;
        margin-right: 0.25rem;
    }

    .icon-compass {
        stroke-width: 1.5px;
    }

    @media screen and (min-width: $small) {
        display: inline-block;
        padding: 0.75rem 1.875rem 0.75rem 1rem;
    }
}

