//
// Comments
// --------------------------------------------------
.comments-area {
    padding-bottom: 3.125rem;
}

.comments {
    @extend %mobile;
    border-top: solid 1px $color-border;
    padding-bottom: 1.875rem;
    margin-top: 1.875rem;

    .page-main & {
        display: none;
    }

    ul {
        @extend %ul-reset;
    }
}

.comments-title,
.comment-reply-title {
    font-weight: 900;
}

/* Formulaire */

// form-group
.comment-notes {
    color: $color-muted;
    font-size: $font-size-sm;
}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.form-submit {
    @extend %form-group;
}

.comment-form-url {
    display: none;
}


// Elements
.comment-form label {
    @extend %label;
}

.comment-form textarea,
.comment-form input {
    @extend %form-control;
}

.comment-form textarea {
    @extend %textarea;
}

.comment-form .submit {
    @extend .btn;
    @extend .btn-black;
    width: auto;
}

/* Commentaires */
.main .comment-list {
    @extend %ul-reset;
}

// comment
.comment {
    margin-bottom: 1.875rem;
}

.comment-body {
    background-color: $color-light;
    border-radius: $border-radius;
    padding: 1.25rem;

    p:last-child {
        margin-bottom: 0;
    }
}

.comment-author {

    .avatar {
        border-radius: 50%;
        float: left;
        margin-right: 1rem;
        transform: translateY(-0.25rem);
    }

    .fn {
        // font-size: $font-size-sm;
        
    }

    .says {
        display: none;
    }
}

.comment-meta {
    font-size: $font-size-sm;
    margin-bottom: 1.25rem;
}

.akismet_comment_form_privacy_notice {
    display: none;
}

// no comments
.no-comments {
    font-weight: 500;
}