//
// Footer
// --------------------------------------------------

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer ul {
    @extend %ul-reset;
}

// Footer infos
// -----------------------------------
.footer__infos {
    background-color: shade($office-azur, 45%);
    color: $color-light;
    display: none;
    font-size: $font-size-sm;
    padding: 1.5rem 0;

    .container {
        justify-content: space-between;
    }

    @media screen and (min-width: $medium) {
        display: block;
    }
}

.footer__infos a {
    color: $color-light;
    text-decoration: none;

    &:hover {
        color: white(0.5);
        text-decoration: none;
    }
}

.footer__infos .h5 {
    @extend %titre-service;
    color: $white;
    margin: 0 0 1rem;
}

// footer connect
.footer__connect {
    display: flex;
    flex-direction: column;
    flex: 0 1 33%;
    font-size: $font-size-base;
    font-weight: 300;
    justify-content: space-between;
}

// footer connect contact
.footer__connect-contact .logo-acerola-filet {
    @extend %lightgray;
    height: 65px;
    margin-top: -0.2rem;
    width: auto;
}

.footer__connect-contact .welcome {
    padding: 0.25rem 0 0.5rem;
}

.footer__connect-contact .contact {
    font-size: $font-size-sm;

    .icon {
        color: $color-light;
        height: $font-size-base;
        margin-right: 0.25rem;
        vertical-align: middle;
    }

    .bullet {
        @extend %bullet;
        padding: 0 0.5rem;
    }

    & + .contact {
        padding-top: 0.2rem;
    }
}

// footer connect socials
.footer__connect-socials a {
    border-radius: 50%;
    border: none;
    display: inline-block;
    text-align: center;
    width: 2.625rem;

    & + a {
        margin-left: 0.75rem;
    }

}

.footer__connect-socials {
    .facebook {
        @include social($facebook-color, $color-light);
    }

    .twitter {
        @include social($twitter-color, $color-light);
    }

    .linkedin {
        @include social($linkedin-color, $color-light);
    }

    .viadeo {
        @include social($viadeo-color, $color-light);
    }

    .icon {
        color: $white;
        display: inline-block;
        height: 1.25rem;
        margin: 0.688rem 0;
        transition: $transition-base;
        vertical-align: middle;
    }

}

// footer office
.footer-office {
    border-left: solid 2px $office-azur;
    flex: 0 1 auto;
    padding-left: 1rem;
}

.footer-office .office {
    font-weight: 300;

    & + .office {
        margin-top: 1.25rem;
    }

    .office--name {
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 0.1rem;
        text-transform: uppercase;
    }

    .office--picto {
        color: $office-azur;
        display: inline-block;
        vertical-align: top;
    }

    .office--address {
        display: inline-block;
        padding: 0.1rem 0 0 0.25rem;
        color: white(0.8);
    }
}

// footer menu
.footer-menu {
    border-left: solid 2px $office-azur;
    flex: 0 1 auto;
    margin-top: 1.5px;
    padding-left: 1rem;
}

.footer-menu .menu-item {
    &+.menu-item {
        padding-top: 0.35rem;
    }
}


// Footer legal
// -----------------------------------
.footer__legal {
    background-color: shade($office-azur, 52%);
    color: shade($color-info, 5%);

    .container {
        align-items: center;
        height: 80px;
        justify-content: center;

        @media screen and (min-width: $medium) {
            height: 50px;
            justify-content: flex-start;
        }
    }

    a {
        color: shade($color-info, 5%);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

// copyright
.footer__legal .copyright {
    flex: 0 1 auto;
    font-size: $font-size-sm;
    font-weight: 300;
}

.footer__legal .copyright .blog-name {
    @extend %titre-service;
    padding-left: 0.375rem;
    white-space: nowrap;
}

// legal menu
.footer__legal .legal-menu {
    flex: 1 1 auto;
    display: none;

    .menu-item {
        display: inline-block;
        font-size: 0.75rem;
        padding-right: 1rem;
        text-transform: uppercase;
    }

    @media screen and (min-width: $medium) {
        display: block;
    }
}