//
// Header
// --------------------------------------------------

.blog-header {
    position: relative;

    @media screen and (min-width: $medium) {
        box-shadow: 0;
        position: sticky;
        top: 0;
        transition: box-shadow 0.15s linear;
        z-index: 1000;

        &.scroll {
            box-shadow: 0 0.25rem 0.75rem black(0.2);

            .blog-header__banner .container {
                height: 50px;
            }

            .site-title .logo-acerola {
                height: 40px;
                margin-top: 0.5rem;
            }
        }
    }
}

// blog header banner
// -----------------------------------
.blog-header__banner {
    background-color: $color-header-banner;

    .container {
        align-items: center;
        height: 120px;
        padding: 0 1rem;
        position: relative;
        transition: height 0.15s linear;
        z-index: 100;
    }

    @media screen and (min-width: $small) {
        .container {
            padding: 0 1.875rem;
        }   
    }
}

// titre blog
.site-title {
    flex: 1 1 auto;
    
    .site-title--invisible {
        display: none;
    }
}

.site-title .logo-acerola-filet {
    color: $color-content-header-top;
    height: 75px;
    margin-top: 0.75rem;
    width: auto;

    .ball {
        color: $white;
    }
}

.site-title .logo-acerola {
    @extend %darkblue;
    height: 67px;
    margin-top: 1rem;
    transition: all .15s linear;
    width: auto;
}