//
// Header homepage
// --------------------------------------------------

.home .blog-header {
    background-image: imagehome('poster-575w.jpg');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: relative;
    top: 0;

    &:after {
        @extend %absolute-pos;
        content: '';
        background: linear-gradient(to bottom, rgba($black, 0.7) 0%, rgba($black, 0) 40%);    
    }

    @media screen and (min-width: $medium) {
        background-image: imagehome('poster-768w.jpg');
        height: calc(87vh - 40px);
        position: relative;
        top: 0;

        &.scroll {
            box-shadow: none;
        }
    }

    @media screen and (min-width: $large) {
        background-image: imagehome('poster-992w.jpg');
    }

    @media screen and (min-width: $x-large) {
        background-image: imagehome('poster-1280w.jpg');
    }
}

/* Main menu */
.home .blog-header__banner {
    @extend %absolute-pos;
    bottom: auto;
    background-color: transparent;

    .container {
        position: relative;
        z-index: 100;
    }

    @media screen and (min-width: $medium) {
        top: 40px;
        z-index: 1025;
        background-color: transparent;
        box-shadow: 0;
        transition: all .15s linear;
        transition: background-color .75s ease-in;

        &.scroll {
            background-color: $color-header-banner;
            box-shadow: 0 0.25rem 0.75rem black(0.2);
            position: sticky;
            top: 0;


            .container {
                height: 50px;
            }

            .site-title .logo-acerola {
                color: shade($office-azur, 50%);
                height: 40px;
                margin-top: 0.5rem;

                .acerola {
                    color: $white;
                }

                .ball {
                    color: $color-primary;
                }

                .carriere {
                    color: $color-content-header-top;
                } 
            }

            .site-menu .menu .menu-item a {
                color: $color-base;
            }

            + .blog-header > .blog-header__top {
                display: none;
            }
        }
    }
}

// niveau 1
.home .site-menu .menu .menu-item a {
    color: $white;
    transition: all 0.15s linear;

    &:hover {
        color: $white;
    }
}

// niveau 2
.home .site-menu .menu ul .menu-item a {
    color: white(0.5);
}

/* logo */
.home .site-title .logo-acerola {
    @extend %primeyellow;
    transition: all 0.15s linear;

    @media screen and (min-width: $large) {
        height: 80px;
        margin-top: 2rem;
        width: auto;
    }
}

/* Home headline */
.home-headline {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    position: relative;
    z-index: 15;
}

.home-headline .headline {
    color: $white;
    font-size: 11vw;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;

    span {
        display: block;
        font-size: 8vw;
    }

    @media screen and (min-width: $medium) {
        font-size: calc(#{$font-size-h2} * 1.65);

        span {
            font-size: $font-size-h2;
        }
    }

    @media screen and (min-width: $x-large) {
        font-size: calc(#{$font-size-h1} * 1.65);

        span {
            font-size: $font-size-h1;
        }
    }
}

/* bloc header top */
.home .blog-header__top {
    background-color: $color-darker;
    color: $white;
    transition: background-color 0.15s linear;

    a {
        color: $white;
    }

    .top-contact .bullet,
    .top-contact .contact-telephone .icon,
    .top-contact .contact-email .icon {
        color: $white;
    }
}

.home .blog-header__top .top-social a {
    border-color: $white;
    color: $white;

    .icon-facebook,
    .icon-twitter,
    .icon-linkedin {
        fill: $white;
    }

    &:hover {
        background-color: $white;
        border-color: $white;
    }

    &:hover .icon {
        &.icon-facebook {
            color: $facebook-color;
        }

        &.icon-twitter {
            color: $twitter-color;
        }

        &.icon-linkedin {
            color: $linkedin-color;
        }

        &.icon-viadeo {
            color: $viadeo-color;
        }
    }
}