//
// Header homepage
// --------------------------------------------------
.home .blog-header {
    height: calc(100vh - 40px);
    background-image: image('poster.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:after {
        @extend %absolute-pos;
        content: '';
        background: rgba($black,0.35);        
    }
}

.home .blog-header__banner {
    background: transparent;
    position: relative;

    .container {
        position: relative;
        z-index: 100;
    }
}

.home .site-title .logo-acerola {
    @extend %primeyellow;
    height: 67px;
    margin-top: 1rem;
    width: auto;
}

.home .blog-header__top {
    background-color: $color-darker;
    color: $white;

    a {
        color: $white;
    }

    .top-contact .bullet,
    .top-contact .contact-telephone .icon,
    .top-contact .contact-email .icon {
        color: $white;
    }
}

.home .blog-header__top .top-social a {
    border-color: $white;
    color: $white;

    .icon-facebook,
    .icon-twitter,
    .icon-linkedin {
        fill: $white;
    }

    &:hover {
        background-color: $white;
        border-color: $white;
    }

    &:hover .icon {
        &.icon-facebook {
            color: $facebook-color;
        }

        &.icon-twitter {
            color: $twitter-color;
        }

        &.icon-linkedin {
            color: $linkedin-color;
        }

        &.icon-viadeo {
            color: $viadeo-color;
        }
    }
}

.home-headline {
    position: relative;
    z-index: 15;
}

.home-headline .headline {
    color: $white;
    font-size: calc(#{$font-size-h1} * 1.65);
    // font-family: $font-family-headings;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;

    span {
        display: block;
        font-size: $font-size-h1;
    }
}