//
// Header
// --------------------------------------------------

// blog header top
// -----------------------------------
.blog-header__top {
    background-color: $color-header-top;
    color: $color-content-header-top;
    display: none;
    font-size: $font-size-sm;
    position: sticky;
    top: 0;
    z-index: 700;

    .container {
        align-items: center;
        height: 40px;
    }

    a {
        color: $color-content-header-top;
    }

    @media screen and (min-width: $medium) {
        display: block;
    }
}

.blog-header__top.scroll {
    transform: translateY(-40px);
    transition-duration: .3s;
}

// Top contact
.blog-header__top .top-contact {
    flex: 1 1 auto;
    order: 0;

    .signature {
        @extend %titre-service;
        font-weight: 500;
    }

    .agence {
        display: none;

        @media screen and (min-width: 846px) {
            display: inline-block;
            padding-left: 1rem;
        }
    }

    .bullet {
        @extend %bullet;
        color: $color-content-header-top;
    }

    .contact-telephone,
    .contact-email {
        padding-left: 1rem;

        .feather {
            color: $color-content-header-top;
            height: $font-size-sm;
            padding-right: 0.1rem;
            vertical-align: middle;
            width: auto;
        }   
    }
}

// Top social
.blog-header__top .top-social a {
    border-radius: 50%;
    border: solid 1px $color-content-header-top;
    color: $color-content-header-top;
    display: inline-block;
    margin-left: 0.25rem;
    padding: 0.15rem;
    text-align: center;
    transition: $transition-base;
    width: 1.675rem;

    .feather {
        height: $font-size-sm;
        transform: translateY(-0.1rem);
        transition: $transition-base;
        vertical-align: text-bottom;
        width: auto;
    }

    .feather-facebook,
    .feather-twitter,
    .feather-linkedin {
        fill: $color-content-header-top;
        stroke-width: 0;
    }

    &:hover {
        background-color: $color-hover-header-top;
        border-color: $color-hover-header-top;
    }

    &:hover .feather {
        fill: $color-header-top;
    }
}


// blog header banner
// -----------------------------------
.blog-header__banner {
    background-color: $color-header-banner;

    .container {
        align-items: center;
        height: 120px;
    }

    @media screen and (min-width: $medium) {
        .container {
            padding: 0 1.875rem;
        }
    }
}

// titre blog
.site-title {
    flex: 1 1 auto;
    
    .site-title--invisible {
        display: none;
    }
}

.site-title .logo-acerola-filet {
    color: $color-content-header-top;
    height: 75px;
    margin-top: 0.75rem;
    width: auto;

    .ball {
        color: $white;
    }
}

.site-title .logo-acerola {
    @extend %darkblue;
    height: 67px;
    margin-top: 1rem;
    width: auto;
}

// Breadcrumb
// -----------------------------------
.blog-header__breadcrumb {
    background-color: $color-header-breadcrumb;
    display: none;

    @media screen and (min-width: $medium) {
        display: block;
    }
}