//
// Home - Bloc Actualités
// --------------------------------------------------

.home-news {
    padding: 3.125rem 0 4.125rem;
    position: relative;

    .container {
        flex-direction: column;
    }

    @media screen and (min-width: $medium) {
        .container {
            align-items: stretch;
            flex-direction: row;
        }
    }
}

.home-news__picture {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $border-radius;
    flex: 0 1 auto;
    min-height: 200px;
    order: 2;

    @media screen and (min-width: $small) {
        min-height: 280px;
    }

    @media screen and (min-width: $medium) {
        flex: 0 1 33%;
        margin-right: 1rem;
        min-height: auto;
        order: 1;
        padding-top: 0;
    }

    @media screen and (min-width: $large) {
        flex: 0 1 50%;
    }
}

.home-news__content {
    align-items: flex-start;
    color: $color-base;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    order: 1;
    padding-bottom: 3.125rem;

    .h2 {
        margin: 0 0 1rem;
    }

    .btn {
        margin-top: 0.625rem;
    }

    @media screen and (min-width: $medium) {
        flex: 0 1 67%;
        justify-content: center;
        order: 2;
        padding: 0 0 0 1rem;
    }

    @media screen and (min-width: $large) {
        flex: 0 1 50%;
    }
}