//
// Home - Bloc counters
// --------------------------------------------------

/* Counters header */
.home-counters {
    display: none;
    margin-top: -110px;
    position: relative;
    z-index: 1015;

    @media screen and (min-width: $medium) {
        display: block;
    }
}

.home-counters .container {
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    position: relative;
    z-index: 15;
}

.home-counters .counter {
    background: linear-gradient(to bottom right, $color-office-dark 10%, shade($office-azur, 70%) 100%);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 10px rgba($black, 0.45);
    flex: 1 1 33.333%;
    margin: 0;
    padding: 1rem;
    position: relative;

    &:first-child {
        border-radius: $border-radius 0 0 $border-radius;
        border-left: 0;
        border-color: rgba($white, 0.2) rgba($white, 0.1) rgba($black, 0.2) transparent;
    }

    &:nth-child(2) {
        border-color: rgba($white, 0.2) rgba($white, 0.1) rgba($black, 0.2) rgba($black, 0.1);
    }

    &:last-child {
        border-radius: 0 $border-radius $border-radius 0;
        border-right: 0;
        border-color: rgba($white, 0.2) transparent rgba($black, 0.2) rgba($black, 0.1);
    }
}

.home-counters .counter-head {
    text-align: center;

    .counter--digit {
        color: $color-primary;
        font-size: $font-size-h1;
        font-weight: 500;
        line-height: 1;
        white-space: nowrap;
    }

    .counter--title {
        @extend %titre-service;
        color: $white;
        font-size: 1rem;
        margin-bottom: 0;

        &:after {
            border: solid 1px $color-primary;
            content: '';
            display: block;
            margin-top: 0.5rem;
            margin: 0.5rem auto;
            width: 100px;
        }
    }
}

.home-counters .counter-content {
    display: flex;
    justify-content: center;
    text-align: center;

    p {
        color: $gray-200;
        margin: 1rem 0 0.5rem;
    }
}

/* Counters body */
.home-counters-body {
    background-color: shade($office-azur, 50%);
    display: block;
    padding: 3.125rem 0;
    position: relative;
    z-index: 15;

    @media screen and (min-width: $medium) {
        display: none;
    }
}

.home-counters-body .container {
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 15;
}

.home-counters-body .counter {
    max-width: 380px;
    padding: 0 1rem;
    width: 100%;

    & + .counter {
        margin-top: 2.125rem;
    }
}

.home-counters-body .counter-head {
    text-align: center;

    .counter--digit {
        color: $color-primary;
        font-size: $font-size-h1;
        font-weight: 500;
        line-height: 1;
        white-space: nowrap;
    }

    .counter--title {
        @extend %titre-service;
        color: $white;
        font-size: 1rem;
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;

        &:after {
            border: solid 1px $color-primary;
            content: '';
            display: block;
            margin-top: 0.5rem;
            margin: 0.5rem auto;
            width: 100px;
        }
    }
}

.home-counters-body .counter-content {
    text-align: center;

    p {
        color: $washing-blue;
    }
}