//
// Home - Bloc company
// --------------------------------------------------

.home-company {
    padding: 3.125rem 0;
    position: relative;

    .container {
        flex-direction: column;
    }

    @media screen and (min-width: $medium) {
        padding: 1.5625rem 0 3.125rem;
    }

    @media screen and (min-width: $large) {
        .container {
            align-items: stretch;
            flex-direction: row;
        }
    }
}

// image
.home-company .home-bloc--picture {
    flex: 0 1 auto;
    padding-top: 3.125rem;

    @media screen and (min-width: $large) {
        flex: 0 1 50%;
        padding-left: 1rem;
        padding-top: 0;
    }
}

// content
.home-company .home-bloc--content {
    align-items: flex-start;
    color: $color-base;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .btn {
        margin-top: 0.625rem;
    }

    @media screen and (min-width: $medium) {
        padding: 0;
        position: relative;
    }

    @media screen and (min-width: $large) {
        flex: 0 1 50%;
        justify-content: center;
        padding-right: 1rem;
    }
}
