//
// Sidebar
// --------------------------------------------------

.sidebar {
    display: none;
    flex: 0 1 auto;
    margin-left: 0.9375rem;
    order: 2;
    width: 35%;

    @media screen and (min-width: $medium) {
        display: block;
    }
}

// side standard
.side-standard {
    align-self: flex-start;

    ul li {
        background-color: $color-light;
        padding: 1.5rem;
        border-radius: $border-radius;
    }

    ul li + li {
        margin-top: 1.5rem;
    }

    .ul-wrapper,
    .ul-wrapper > li,
    .ul-wrapper > li p:last-child,
    .ul-wrapper > li:last-child ul {
        margin-bottom: 0
    }
}