//
// Sidebar
// --------------------------------------------------

.sidebar {
    display: none;
    flex: 0 1 auto;
    margin-left: 0.9375rem;
    order: 2;
    padding-bottom: 2rem;
    position: sticky;
    top: 2rem;
    width: 35%;

    @media screen and (min-width: $intermediate) {
        display: block;
    }
}

// side standard
.side-standard {
    align-self: flex-start;

    ul li {
        border-radius: $border-radius;
        padding: 1.5rem;
        position: relative;
    }

    ul li + li {
        margin-top: 1.5rem;
    }

    .ul-wrapper,
    .ul-wrapper > li,
    .ul-wrapper > li p:last-child,
    .ul-wrapper > li:last-child ul {
        margin-bottom: 0
    }
}



// Static widgets
// -----------------------------------
.widget-title {
    font-family: $font-family-base;
    font-size: $font-size-sm;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
    padding: 1rem;
    text-transform: uppercase;
    transform: translateY(2px);
}

.widget a {
    color: $color-base;;
}

.widget .feather {
    float: left;
    margin-right: 0.5rem;
    vertical-align: bottom;
}

// Widget contact
.widget__contact {
    background-color: $gray-200;
}

.widget__contact .office {
    font-size: $font-size-sm;

    & + .office {
        padding-top: 0.75rem;
    }

    .office--name {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.1rem;
    }

    .feather {
        float: left;
        margin-right: 0.5rem;
        transform: translateY(0.15rem);
        height: auto;
        width: auto;
    }
}

.widget__contact .office--contact {
    font-size: $font-size-base;
    padding-top: 1rem;

    & + .office--contact {
        padding-top: 0.5rem;
    }
} 

// Widget follow
.widget__follow {
    background-color: $color-header-top;
    padding: 0 !important;
}

.widget__follow .socials {
    display: flex;
    height: 66px;
}

.widget__follow .socials .feather {
    fill: $white;
    stroke-width: 0;

    &.feather-viadeo {
        height: 1.5rem;
        width: auto;
    }
}

.widget__follow .socials .facebook {
    @include social($facebook-color);
    border-bottom-left-radius: $border-radius;
}

.widget__follow .socials .twitter {
    @include social($twitter-color);
}

.widget__follow .socials .linkedin {
    @include social($linkedin-color);
}

.widget__follow .socials .viadeo {
    @include social($viadeo-color);
    border-bottom-right-radius: $border-radius;
}

.widget__follow .socials a {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    justify-content: center;
    transition: $transition-base;

    &:hover {
        background-color: $gray-500;
    }
}

// Widget newsletter
