//
// Single blog post
// --------------------------------------------------

.bullet {
    @extend %bullet;
}

// Entry metas
// -----------------------------------

// Category
.entry-category {
    @extend %mobile;
    font-family: $font-family-base;
    font-size: $font-size-lg;
    font-weight: 500; 
    letter-spacing: 6px;
    margin: 0;
    text-transform: uppercase;

    a {
        color: $color-primary;
    }
}

// Author & publication
.entry-meta {
    @extend %mobile;
    color: $gray-700;
    font-size: $font-size-sm;
    min-height: 1.875rem;
    padding-bottom: 0.375rem; 
}

.entry-meta__author {
    display: inline-block;

    .author {
        font-weight: 500;
        text-transform: uppercase;
    }

    .icon {
        margin: -0.1rem 0 0 0.25rem;
        padding: 0;
        vertical-align: middle;
    }
}

.entry-meta__date {
    display: inline-block;

    .entry-date,
    .bullet {
        display: none;
    }

    @media screen and (min-width: $small) {
        .entry-date,
        .bullet {
            display: inline-block;
        }
    }
}

.entry-meta__tag {
    display: block;
    font-size: $font-size-sm;

    .icon {
        color: $color-info;
        height: $font-size-base;
        margin: 0 0.25rem 0 0.75rem;
        vertical-align: middle;

        &:first-child {
            margin-left: 0;
        }
    }
}



// title
.entry-title {
    @extend %mobile;
}

// content
.entry-content {
    @extend %mobile;
}



// Entry footer
// -----------------------------------
.entry-footer {
    @extend %well;
    background-color: $color-primary;
    align-items: center;
    border-radius: 0;
    margin-top: 1.875rem;

    @media screen and (min-width: $small) {
        border-radius: $border-radius;
    }
}

.entry-footer .author-avatar .avatar {
    border-radius: 50%;
}

.entry-footer .author-vcard {
    padding-left: 0.75rem;
    line-height: $line-height-headings;

    .author-vcard--name {
        font-weight: 500;
        display: block;
    }

    .author-vcard--description {
        font-size: $font-size-sm;
    }

    .break {
        display: none;
    }

    @media screen and (min-width: $small) {
        .author-vcard--name,
        .break {
            display: inline;
        }
    }
}